.list {

  &__filters {
    @include span(12);
    margin: 0 0 $unit-7 0;
  }

  .filters-sliders {
    @include span(12);
  }

  .filters-button {
    @include span(12);

    .button {
      display: block;
      margin: auto;
    }
  }

  .filters-title {
    @include span(12);
    margin: $unit-1 0;

    &__state {
      @include span(8 first);
      text-align: left;
      font-weight: bold;
    }

    &__values {
      @include span(4 last);
      text-align: right;
    }

    &__current {
    }

    &__max {
    }
  }
}

//slider settings

//remove browser default settings//

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: span(12); /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: span(12);
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

//thumb settings//

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: $unit-5;
  width: $unit-5;
  border-radius: 100%;
  //thumb color
  background: $basicColor;
  cursor: pointer;
  margin-top: - 6px; /* Margin needs to be specified in Chrome, but in Firefox and IE it is automatic */
  box-shadow: $lightActiveShadows;
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: $unit-5;
  width: $unit-5;
  border-radius: span(12);
  background: $basicColor;
  cursor: pointer;
  box-shadow: $lightActiveShadows;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: $unit-5;
  width: $unit-5;
  border-radius: span(12);
  background: $basicColor;
  cursor: pointer;
  box-shadow: $lightActiveShadows;
}

// track settings//

input[type=range]::-webkit-slider-runnable-track {
  width: span(12);
  height: 6px;
  cursor: pointer;
  //slider color
  background: $accentPassiveColor;
  border: none;
  box-shadow: $lightPassiveShadows;
}

input[type=range]::-moz-range-track {
  width: span(12);
  height: 6px;
  cursor: pointer;
  background: $accentPassiveColor;
  border: none;
  box-shadow: $lightPassiveShadows;
}

input[type=range]::-ms-track {
  width: span(12);
  height: 6px;
  cursor: pointer;
  background: $accentPassiveColor;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  box-shadow: $lightPassiveShadows;
}

input[type=range]::-ms-fill-lower {
  background: $accentPassiveColor;
  border: none;
  box-shadow: $lightPassiveShadows;
}
