.infoPanel {
  @include span(12);
  height: auto;
  margin: 0 0 $unit-7 0;

  &__container {
  }

  &-basics {
    @include span(12);
    text-align: center;

    &__picture {
      max-width: span(12);
      width: ms(12);
      height: auto;
      border: 1px solid $accentPassiveColor;
      border-radius: 100%;
      box-shadow: $passiveShadows;
      margin: 0 0 $unit-1 0;
    }

    &__login {
      word-wrap: break-word;
    }

    &__icon {
      height: $unit-7;
      width: $unit-7;
      margin: 0 0 $unit-1 0;
    }
  }

  &-details {
    @include span(12);
    text-align: center;
  }
}

//breakpoints
@include susy-breakpoint($tablet) {
  .infoPanel {

    &-basics {
      @include span(6 first);
      border: none;
      padding: 0 ;
    }

    &-details {
      @include span(6 last);
      padding: $unit-7 0 0 0;
      text-align: left;
    }
  }
}

@include susy-breakpoint($small-destop) {

  .infoPanel {
    @include span(3 first);
    height: auto;

    &-basics {
      @include span(12);
    }

    &-details {
      @include span(12);
      text-align: center;
    }
  }
}




