.infoPanel {
  @include span(12);
  height: auto;
  margin: 0 0 ms(2) 0;

  &__container {
  }

  &-basics {
    @include span(5 first);
    text-align: center;
    border-right: 1px solid $accentPassiveColor;
    margin: 0;
    padding:  0 ms(1) 0 0 ;


    &__picture {
      max-width: span(12);
      height: auto;
      width: ms(12);
      margin: 0 auto;
      border: 1px solid $accentPassiveColor;
      border-radius: 100%;
    }

    &__login {
      word-wrap: break-word;
      margin: 0 0 ms(-4) 0;
    }

    &__icon {
      height: ms(2);
      width: ms(2);
    }
  }

  &-details {
    @include span(7 last);
    text-align: center;
  }
}

//breakpoints

@include susy-breakpoint($tablet) {
  .infoPanel {

    &-basics {
      border: none;
      padding: 0 ;

    }

    &-details {
      padding: ms(4) 0 0 0;
      text-align: left;
    }
  }
}

@include susy-breakpoint($small-destop) {

  .infoPanel {
    @include span(3 first);
    height: auto;

    &-basics {
      @include span(12);
    }

    &-details {
      @include span(12);
      text-align: center;
    }
  }
}




