.leftPanel {
  @include span(12);
  height: auto;
  border-bottom: 1px solid $accentPassiveColor;


  &__image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 100%;

  }

  &__details {
    text-align: center;
  }
}


//breakpoints

@include susy-breakpoint($tablet) {
  .leftPanel {

    border-bottom: none;
  }
}

@include susy-breakpoint($small-destop) {

  .leftPanel {
    @include span(3 first);
    height: auto;

    &__image {
      max-width: 100%;
    }
  }
}






