.leftPanel {
  @include span(2 first);
  height: auto;
  border-right: 1px solid #d1d5da;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  &__details {
    text-align: center;
  }
}
