.list {
  overflow: hidden;

  &__items {
  }

  &-item {
    @include span(12 of 12);
    padding: ms(0);
    margin: ms(-8);
    border-bottom: 1px solid #d1d5da;
    border-radius: 3px;

    &__image {
      width: span(4 of 12 first);
      border-radius: 100%;
    }


    &__details {
      padding: 0 ms(2);
      @include span(8 of 12 last);
    }
  }
}

//breakpoints

@include susy-breakpoint($tablet) {

  .list {

    &-item {
      @include gallery(6 of 12);
      border: 1px solid #d1d5da;
    }
  }
}

@include susy-breakpoint($hdpi-desktop) {

  .list {

    &-item {
      @include gallery(4 of 12);
    }
  }
}
