.list {
  overflow: hidden;

  &__items {
  }

  &-item {
    @include container;
    padding: ms(0);
    margin: ms(-8);
    border-bottom: 1px solid $accentPassiveColor;
    border-radius: 3px;


    &__image {
      @include span(2 of 12 first);
      max-width: span(12);
      height: auto;
      margin: 0 auto;
      width: ms(7);
      fill: $accentPassiveColor;
      transition: fill .3s;


      &:hover {
        fill: $basicColor;

      }
    }


    &__details {
      padding: 0 ms(2);
      @include span(8 of 12 last);
    }
  }
}

//breakpoints

@include susy-breakpoint($tablet) {

  .list {

    &-item {
      @include gallery(6 of 12);
      border: 1px solid $accentPassiveColor;
    }
  }
}

@include susy-breakpoint($hdpi-desktop) {

  .list {

    &-item {
      @include gallery(4 of 12);
    }
  }
}
