.page {
  &__nav {
    height: span(1);
    @include container;
    background: $basicColor;
    box-shadow: 0 0 4px 1px $basicColor;
    padding: ms(0);
    white-space: nowrap;
    text-overflow: ellipsis;


  }

  .nav-logo {
    width: span(1 of 12 first);
    display: inline-block;

    &__icon {
      fill: $neutralColor;
      width: ms(2);
      height: ms(2);
    }
  }

  .nav-title{
    width: span(11 of 12 last);
    color: $accentPassiveColor;
    text-align: center;
    display: inline-block;

    &--pending {
      animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate
    }

    @keyframes blinker {
      to { opacity: 0; }
    }
  }

  &__container {
    width: span(10);
    @include container();
    margin: ms(2) span(1) + gutter();
  }
}



@include susy-breakpoint($small-destop) {

  .page__container {
    width: span(11);
    @include container();
  }
}
