.page {
  &__nav {
    height: span(1);
    @include container;
    background: $basicColor;
    box-shadow: 0 0 4px 1px $basicColor;
    padding: ms(0);

  }

  .nav-logo {
    @include span(1 of 12 first);
    fill: $neutralColor;
    width: ms(2);
    height: ms(2);
  }

  .nav-status{
    @include span(11 of 12 last);
    color: $accentPassiveColor;
    text-align: center;
  }


  &__container {
    width: span(10);
    @include container();
    margin: ms(2) span(1) + gutter();
  }
}



@include susy-breakpoint($small-destop) {

  .page__container {
    width: span(11);
    @include container();
  }
}
