//small - 2px
$unit-0: ms(-5);
//for inner paddings
$unit-1: ms(-4);
//
$unit-2: ms(-3);
$unit-3: ms(-2);
$unit-4: ms(-1);
//basic - 16px
$unit-5: ms(0);
//
$unit-6: ms(1);
//for outer paddings
$unit-7: ms(2);
//
$unit-8: ms(3);
$unit-9: ms(4);
$unit-10: ms(5);

