//modular scale
@import '~modularscale-sass/stylesheets/modularscale';

//susy
@import "../../node_modules/susy/sass/susy";

//settings
@import "/var/settings";

/* Base Application Styles */
body {
  @include container();
  color: #fff;
}

.index .notice {
  width: span(10 of 12);
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;

  ul {
    list-style-type: none;
    padding: 0;
    font-size: ms(-1);
  }
}
