html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: $basicColor;
}


//global button
.button {
  background-color: $neutralColor;
  border: none;
  color: $accentPassiveColor;
  text-decoration: none;
  font-size: $unit-5;
  cursor: pointer;
  outline: none;

  &-icon{
    display: block;
    height: ms(4);
    width: ms(4);
    transition: color .3s;
  }

  &:hover {
    color: $basicColor;
  }
}

//global link
.link {
  text-decoration: none;
  color: $basicColor;

  &:hover {
    text-decoration: underline;
  }
}

//global icon
.icon {
  margin: 0 ms(-6) 0 0;
  height: ms(0);
  width: ms(0);
}

//global definition list

dl {
  margin: 0;
}

dd {
  display: inline;
  margin: 0;

  font-size: $unit-5;
  font-weight: lighter;
  font-style: italic;
}

dl dd:after{
  display: block;
  content: '';
}

dl dt {
  display: inline-block;
}

dt {
  font-size: $unit-5;
  font-weight: bold;
  margin: 0;
  padding: $unit-1 0;
}

