html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: $basicColor;
}

.button {
  background-color: $neutralColor;
  border: none;
  color: $accentActiveColor;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;

  &-icon{
    display: block;
    height: ms(4);
    width: ms(4);
  }
}

.link {
  text-decoration: none;
  color: $basicColor;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  margin: 0 ms(-6) 0 0;
}
