html {
  font-size: 100%;
}

h6 {
  font-size: $unit-4;
  font-weight: lighter;
  font-style: italic;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: $unit-5;
  font-weight: lighter;
  font-style: italic;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: $unit-5;
  padding: 0;
  margin: 0 0 $unit-1 0;
}

h3 {
  font-size: $unit-6;
  padding: 0;
  margin: 0 0 $unit-1 0;
}

h2 {
  font-size: $unit-7;
  padding: 0;
  margin: 0 0 $unit-1 0;

}

h1 {
  font-size: $unit-8;
  padding: 0;
  margin: 0;

}

small {
  font-size: $unit-3;
  padding: 0;
  margin: 0;

}
